<h2>To Do List</h2>

<form method="POST" action="/">
    {% csrf_token %}

    {{form.title}}
    <input type="submit" value="Add task">
</form>

{% for t in tasks %}
    <div>
        <ul>
            <li>
                {% if t.completed %}
                    <strike>{{t}}</strike>&nbsp; 
                {% else %}
                    {{t}}
                {% endif %}
                <a href="{% url 'update_task' t.id %}">Update</a>&nbsp;
                <a href="{% url 'delete_task' t.id %}">Delete</a>
            </li>
        </ul>
    </div>
{% endfor %}